/* Variables */
$primary-color: #8C27D6;
$secondary-color: #FFA500;
$clear-text: #fff;
$dark-text: #000;
$bg-color: #000;
$transition: color 0.1s, background-color 0.2s ease-in-out;
$skills-bar-length: 200px;